.posts-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 100px;
   
    
  }
  
  .posts-card {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    margin-bottom: 20px;
    
  }


  .image-container{
   padding: 10px;
  }
.fav{
 color: red;
}

.tags{
  color:blue;
}

  #commentInput{
    width: 300px;
  }
  .comment-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
